
{% load staticfiles%}

<!DOCTYPE html>
<html>
  <head>
    
    <title>{%block title%}Bismarck Solaris . Aplicação{%endblock%}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="{% static 'app/css/index.css'%}" rel="stylesheet" type="text/css" media="all" />  
</head>


<body>

<div class="principal">

  <div class="header box-1">
    <div>
      <h3>Bismarck solaris</h3> 
      <h6>Instituto Federal Fluminense</h6> 
    </div>

    <div>
      <a href="{%url 'app:adicionar_boias' %}"><i class="far fa-life-ring fa-2x"></i></a>
      <a href="{%url 'app:user_logout' %}"><i class="fas fa-sign-out-alt fa-2x"></i></a>  
    </div>

  </div>

  
  <!--Área dos cards de medidas-->
  <div class="main box-2">

    <!--Primeira informação-->
    <div class="card card-1">
      <div class="card-icon card-icon-1">
        B
      </div>

      <div class="card-info">
        <h6>Bateria principal</h6>
        <h3 id="bateria_principal">24.54 V</h3>
      </div>      
    </div> 

    <!--Segunda informação-->
    <div class="card card-2">
      <div class="card-icon card-icon-2">
        B
      </div>

      <div class="card-info">
        <h6>Baterias auxiliares</h6>
        <h3 id="baterias_auxiliares">12.10 V</h3>
      </div>
    </div>

    <!--Terceira informação-->
    <div class="card card-3">
      <div class="card-icon card-icon-3">
        P
      </div>
      
      <div class="card-info">
        <h6>Placas solares</h6>
        <h3 id="placas_solares">24.01 V</h3>
      </div>
    </div>

    <!--Quarta informação-->
    <div class="card card-4">
      <div class="card-icon card-icon-4">
        C
      </div>

      <div class="card-info">
        <h6>Corrente do motor</h6>
        <h3 id="corrente_motor">10.34 A</h3>
      </div>
    </div>


    <!--Quinta informação-->
    <div class="card card-5">
      <div class="card-icon card-icon-5">
        V
      </div>

      <div class="card-info">
          <h6>Velocidade do barco</h6>
          <h3 id="velocidade_barco">10.18 nós</h3>
      </div>     
    </div>
  
  </div> <!-- Fim da área que contém as informações da embarcação-->


  <!--Área que contém o botão que dericiona até à página de geolocalização da embarcação-->
  <div id="opcao">
    <div>
      <h5>Medidas</h5>
    </div>

    <div>
      <img src="{%static 'app/img/logo-solaris.jpg'%}" width="40" height="40">
    </div>

    <!--O botão que direciona até à página de geolocalização da embarcação-->
    <div>
       <a href="{%url 'app:mapa'%}" class="btn btn-primary btn-sm " role="button" aria-pressed="true">
          Ir para mapa
       </a>
    </div>

  </div>

</div>

<script>
 
    var appSocket = new WebSocket("ws://"+ window.location.host +"/ws/app/");
    
    //Recebendo informaçoes da medidas na página
    appSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        var quant_clientes = data['quant_clientes']

        var tam_message = message.length
        var pure = message.slice(2, tam_message-1)

        var medidas = pure.split(' ')

        var bateria_principal = document.getElementById('bateria_principal')
        bateria_principal.textContent = medidas[0] + " V"

        var baterias_auxiliares = document.getElementById('baterias_auxiliares')
        baterias_auxiliares.textContent = medidas[1] + " V"

        var placas_solares = document.getElementById('placas_solares')
        placas_solares.textContent = medidas[2] + " V"
        
        var corrente_motor = document.getElementById('corrente_motor')
        corrente_motor.textContent = medidas[3] + " A"

        var velocidade_barco = document.getElementById('velocidade_barco')
        velocidade_barco.textContent = medidas[4] + " nós"  
    }
    appSocket.onclose = function(e){
      alert("Desconectando. Não houve resposta do broker")
    }
    
</script>

</body>  

</html>
