<!--Carregar arquivos estáticos da página, como estilo, imagens e scripts-->
{% load staticfiles%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bismarck Solaris . Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--FONTAWESOME - para os ícones-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/login.css'%}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

</head>

<body>

  <div class="painel-login">
    <div class="user-card">

        <!--Logo-->
        <div class="brand-logo-container">
          <img src="{% static 'app/img/logo-solaris.jpg' %}" class="brand-logo" alt="Logo">
        </div>

        <div class="erros">
          {{ form_login.non_field_errors}} 
          {{form_login.usuario.errors}}
          {{form_login.senha.errors}}
        </div>
        
        <!--Formulário de identificação-->
        <div class="form-container">
          <form action="{% url 'app:user_login' %}" method="POST" novalidate>
            {% csrf_token %}
            <!--Campo de usuário-->
            <div class="user-input">
              <i class="fas fa-user"></i>
              {{form_login.usuario}}
            </div>

            <!--Campo de senha-->
             <div class="password-input">
              <i class="fas fa-key"></i>
              {{form_login.senha}}
            </div>

            <!--Botão-->
            <div class="botao">
                <button type="submit" class="login-btn">Login</button>  
            </div>
          </form>
          
          <h6>IFF - Instituto Federal Fluminense</h6> 
          <h6>2019</h6>
        </div>
    </div>
  </div>
</body>
</html>