  .container-boias{
    display:flex; flex:1; 
    justify-content: center; 
    flex-direction: column
  }

  .area-card-boias{
    display: flex;
    flex-direction: column;
  }


  .card-boia{
    display: flex;
    margin: 10px;
    padding: 3px;
    border-radius: 3px;
    background-color: white;
  }
  .card-boia-icone{
    background-color: orange;
    color: white;
    padding: 15px;
    margin-right: 5px;
  }

  .card-boia-conteudo label{
    margin: 0px;
    padding: 0px;

  }

  .botoes-add-rmv-boias{
    display: flex; 
    justify-content: center
  }


  .botoes-add-rmv-boias button{
    margin: 10px;
  }


h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #18121e;
}

.principal {
  height: 100%;
    min-height: 100%;
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;  
  background: #233237;
}

#opcao{
  display: flex;
  color: white;
  align-items: center;
  background: #233237;
  justify-content: space-between;
}


#opcao>div{
  padding: 10px;

}

.header>div>i{
  margin-right: 10px; 
}

.header>div>a{
  color: white;
}

#opcao>div>img{
  border-radius: 5px;
  display: none;
}


.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
}


/**Rodapé***/
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  color: white;
  text-align: center;
  
}


@media (max-width: 720px) and (orientation: landscape){
  
  .header>div>h6{
    display: none;
  }

  #opcao>div>h5{
    font-size: 90%;
  }


  #opcao>div>img{
    display: block;
  }


  .card{
    display: flex;
    flex-basis: 48%;
  }

  .card-icon{
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  .main>.card>.card-info>h3{
    font-size: 96%;
  }
  
  .main>.card>.card-info>h6{
    font-weight: bold;
  }

  .header{
    display: none;
  }
}