h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #1d1e22;
	font-family: Arial;
}

.painel-login{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
}

.user-card {
	background: #233237;
	padding: 10px;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	justify-content: center;
	flex-direction: column;
}

.brand-logo-container {
	height: 170px;
	width: 170px;
	border-radius: 50%;
	background: #c0392b;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0 auto;
}

.brand-logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}


.erros {
	background-color: red;
	color: white;
	border-radius: 3px;
	font-size: 90%;
	text-align: center;
}

.erros ul {
	list-style: none;
	margin: 5px;
	padding: 0px;
}

.form-container {
	margin: 10px;
}

.user-input, .password-input{
	display: flex;
	align-items: stretch;
	margin-top: 10px;
}

.user-input input, .password-input input{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 

}

.user-input i, .password-input i{
	color: white;
	background-color:  #c0392b;
	padding: 10px;
}

.botao{
	flex: 1;
	margin: 10px;
}


.login-btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.login-btn:hover {
    opacity: 0.9;
}

.login-btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

 .form-container h6{
 	color: white;
 	text-align: center;
 }




