*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-family: "Roboto", sans-serif;
	background: #18121e;
}

#header{
	padding: 5px;
	background-color: #233237;
	color: white;
	height: 65px;
}

#header img{
	float: left;
	border-radius: 5px;
}

#header h3{
	color: white;
	padding: 0;
	margin-top: 12px;
	text-align: center;
}

.dados-barco{
	margin: 5px 0 0 0;
	border-radius: 5px;

	/**
		background-color: #984B43;
	**/

	background-color: rgb(128, 13, 16);
	color: white;
	text-align: center;
	font-size: 90%;
	font-weight: bold;

}

.dados-barco .dados-barco-cabecalho{
	text-align: center;
	padding: 3px;
	margin-right: 3px;

}

.dados-barco .dados-barco-cabecalho i{
	margin-right: 8px;
}
.dados-barco label{
	margin: 0;
	padding: 0;
}

.dados-barco .dados-barco-corpo{
	text-align: center;
	padding: 2px;
	color: white;
	border-top: 1px solid white;
}


#mapa-container{
	margin-top: 10px;
	padding: 5px;
	background-color: #233237;
	border-radius: 5px;
	
}

#mapa{
	height: 420px;
	width: 100%;
	border-radius: 5px;
}


/* The animation code */
@keyframes pulso-helmuth {
    from{ 
    	
    	border-color: rgb(26, 255, 26);
 
    }
    to{
    	border-color: rgb(0, 0, 0);
    }
}

.helmuth{	
	min-height: 30px;
	min-width: 30px;
	border-radius: 50%;
	border: 3px solid green;
	animation: pulso-helmuth 2.5s ease infinite;
	-webkit-animation: pulso-helmuth 2.5s ease infinite;
	background: url('../images/icone-helmuth.png');
	background-position: center;
	background-size: contain;

	cursor: none;
}

/* The animation code - DAVI */
@keyframes pulso-davi {
    from{ 
    	
    	border-color: rgb(255, 26, 26);
 
    }
    to{
    	border-color: rgb(0, 0, 0);
    }
}

.davi{	
	min-height: 45px;
	min-width: 45px;
	border-radius: 50%;
	border: 3px solid green;
	animation: pulso-davi 2.5s ease infinite;
	-webkit-animation: pulso-davi 2.5s ease infinite;
	background: url('../images/icone-davi.png');
	background-position: center;
	background-size: contain;
}
/**FIM**/

/* The animation code - DAVI 2 */
@keyframes pulso-davi2 {
    from{ 
    	
    	border-color: rgb(26, 26, 255);
 
    }
    to{
    	border-color: rgb(0, 0, 0);
    }
}

.davi2{	
	min-height: 45px;
	min-width: 45px;
	border-radius: 50%;
	border: 3px solid green;
	animation: pulso-davi2 2.5s ease infinite;
	-webkit-animation: pulso-davi2 2.5s ease infinite;
	background: url('../images/icone-davi2.png');
	background-position: center;
	background-size: contain;
}
/**FIM**/

/* The animation code */
@keyframes pulsos-boias {
    from{ 
    	border-color: rgb(255, 6, 6);
 
    }
    to{
    	
    	border-color: rgb(0, 0, 0);
    }
}

.boia{
	height: 25px;
	width: 25px;
	background: orange;
	border-radius: 50%;
	border: 2px solid black;

	animation: pulsos-boias 0.5s ease infinite;
	-webkit-animation: pulsos-boias 0.5s ease infinite;
}



.referencial{	
	min-height: 30px;
	min-width: 30px;
	border-radius: 50%;
	border: 3px solid yellow;
	background: url('../images/logo-solaris.jpg');
	background-position: center;
	background-size: contain;
	cursor: none;
	opacity: 0.7;
}


.infos-observadas{
	text-align: center;
	margin-top: 5px;
	border-radius: 5px;
	color: black;
}

.io-head{
	border-radius: 5px 5px 0px 0px;
	color: white;
}

.infos-observadas .painel-body{
	background-color: white;
	border-radius: 0px 0px 5px 5px;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		font-size: 1.0em;
		font-weight: bold;
	}
}

@media (min-width: 767.98px) and (max-width: 1000px) {
	body{
		font-size: 0.9em;
		font-weight: bold;
	}
}

