  html, body {
      height: 100%;
      min-height: 100%;
    }

    body{
      background-image: url("/static/app/img/w1.jpg");
      background-size: cover;
    }

  .periodo-css{
      height: 25px; 
      width: 25px; 
      border-radius: 50%;
      display: flex;
      justify-content: center;
      color: white;

    }

    .periodo-2{
      background-color: blue;
    }
    .periodo-1{
      background-color: red;
    }
    .periodo-6{
      background-color: purple;
    }
    .periodo-3{
      background-color: green;
    }

    .escolha-usuario{
       height: 100%;
      min-height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      flex-direction: column;

    }

    .form-group{
      margin: 5px;
    }

    .form-group h3{
      color: red;
      font-weight: bold;
    }


.modal-body{
  background-color: white; 
  color: black; 
    font-weight: bold
}


.pre_requisitos{
  display: flex; 
  flex-direction: column;

}

.requisito_de{
  display: flex; 
  flex-direction: column;  
}

.co_requisito_de{ 
    display: flex; 
   flex-direction: column;  
}




.discplina_icone{
  justify-content:space-between; 
  display: flex; 
  align-items: center; 
}
